.nav-pane{
    display: flex;
    background: whitesmoke;
    flex-direction: column;
    width: 25rem;
    height: auto;
    margin-right: 8px;
}

@media screen and (max-width: 1000px){
    .nav-pane{
        display: none;
    }
}

.profile-details h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.profile-details{
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* padding: 15px; */

}
.profile-info img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.profile-banner{
    background: #08c5bf;
    display: flex;
    padding: 30px;
    padding-left: 60px;
    margin-top: 60px;
    width: fit-content;
    border-radius: 150px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {border-radius: 50px;}
}
.profile-banner-text{
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}