@media print {
  #report-card{
      width: 21cm;
      height: 29.7cm;
 } 
}

#report-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: auto;
  height: 650px;
  border: solid 1px lightgrey;
  border-radius: 10px;
  align-items: center;
}

.report-card {
  display: flex;
  flex-direction: column;
  width: 100%;

  .student-info {
    display: flex;
    flex-direction: column;
    width: 100%;

    .student-course{
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h4{
        margin: 5px;
        padding: 10px;
      }
    }
  
    
  
    .report-card-table th,
    .report-card-table td {
      border: 1px solid #45A5A1;
      padding: 5px 8px;
    }
  
    /* .download-report-car button{
      display: flex;
      flex-direction: column;
      justify-content: center;
    
    } */
  }
}

.header {
  text-align: center;
  width: 100%;
  background-color: #45A5A1;
  color: #fff;
  height: 5rem;
}



.report-card-table {
  background: #fafafa;
  width: 100%;
  text-align: start;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(32, 32, 32, .3);
}
.table-container{
  width: 98%;
}

